replicaCount: 1

image:
  repository: winstonjss15/python-app
  pullPolicy: IfNotPresent
  tag: v2

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
serviceAccount:
  create: false
  automount: true
  annotations: {}
  name: ""
podAnnotations: {}

podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
service:
  type: ClusterIP
  port: 5000

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: python-app.test.com
      paths:
        - path: /
          pathType: Prefix
  tls: []
  
resources:
  requests:
    cpu: 50m
    memory: 50M

livenessProbe:
  httpGet:
    path: /api/v1/healthz
    port: 5000

readinessProbe:
  httpGet:
    path: /api/v1/healthz
    port: 5000

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes: []

volumeMounts: []

nodeSelector: {}

tolerations: []

affinity: {}